@import url("https://fonts.googleapis.com/css?family=Pacifico|Sacramento|Source+Sans+Pro:200,300,400");

#intro.main > h2 {
    color: #ffffff;
	font-family: "Source Sans Pro";
	font-size: 2.4em;
	font-weight: 300;
	letter-spacing: 0.675rem;

}

#maincard.main > p {
    text-align: left;
}

#maincard.main > h3, b {
    color: #505050;
}

#maincard.main > img {
  height: 70%;
  min-height: 70%;
  max-height: 70%;
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

#maincard.main > p> img.triple {
  height: 33%;
  min-height: 33%;
  max-height: 33%;
  width: 33%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Comment Card */

.commentcard {
	padding: 2em 2em 2em 2em;
	background-color: #eeeeee;
	border-radius: 4px;
	text-align: center;
}

	.commentcard.main > p, h2 {
		color: #666666;
	}

	.comment > header:first-child {
		text-align: center;
	}

	@media screen and (max-width: 736px) {

		.comment {
			padding: 2em 2em 0.1em 2em;
		}

	}

	@media screen and (max-width: 480px) {

		.comment {
			padding: 2em 1em 0.1em 1em;
		}

	}

#comments-container {
    color: #505050;
}

section.commentcard > form > input[type="submit"] {
    background-color: transparent;
	box-shadow: inset 0 0 0 2px #505050;
	color: #505050 !important;
}

section.commentcard > h3 {
    color: #505050;
}